doctype html
html
    head
        title cyclejs quick start
        link(rel="stylesheet" type="text/css" href="./assets/styles/main.css")
    body
        #app-container
        script(src="./assets/scripts/main.js")
